
<!--
 Modal pour afficher les Notifications récentes
Affiche les 3 notifs les plus récentes
-->
<div class="modal fade" id="notifModal" tabindex="-1" role="dialog" aria-labelledby="notifModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LesNotifs">Mes notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--
            BODY DE LA FENETRE MODAL
            -->
            <div class="modal-body">
                <div class="col-md-1"></div>
                <div class="col-md-8 padding-top-10">
                    <div class="notif-extended">
                        <?php
                        foreach($allNotifications as $notif)
                        {
                          echo "<div><p class='notify-count-green'>".$notif["titre"]."</p></div>";
                            echo "<div class='notif-message'>";
                                echo "<a href=''>";
                                    echo "<span class='fa fa-clock-o fa-fw'></span>".$notif["date"];
                                    echo "<span class='notif-subject'>";
                                             echo "<span class='notif-subject-from'>".$notif["message"]."</span>";
                                        echo "</span>";
                                    echo "<span class='notif-subject-message padding-right-10'>";
                                    echo "Vous recevez ceci parce que voilà";
                                           echo "<span class='label label-danger pull-right'>Entreprise</span>";
                                        echo "</span>";
                                echo "</a>";
                            echo "</div>";
                        }
                        ?>

                    </div>
                </div>
            </div>
    </div>
</div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
</div>