<!--
Modal pour signer un contrat electroniquement
Fait son apparition lors d'un click sur le boutton "signer le contrat" de la page listeContrats.html
-->
<div class="modal fade" id="signerContrat" tabindex="-1" role="dialog" aria-labelledby="titreSigneContrat" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titreSigneContrat">Appuyez sur le bouton pour signer le contrat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="text-center">
                    <form name="signer_contrat" action="./index.php?uc=contrat&ac=signerContrat" method="POST">
                        <input hidden value="signer" name="signer">
                        <input hidden class="validation_contrat" id="id_contrat_to_valide" >
                        <button type="submit" class="btn btn-info">
                            Signez votre contrat<span class="fa fa-check"></span>
                        </button>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#signerContrat').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var recipient = button.data('data-id');
    })
</script>