.banner{
    background-image: url("/projetCommun/ressources/img/navFaq.jpg") !important;
    color: #fff;
    min-height: 100px;
    padding: 65px;
    text-align: center;
    opacity: 1 !important;
}

.contentHelp {
    width: 60%;
    padding: 0.25% !important;
    margin: 0 auto;
}


.question {
    border: 1px solid #343a40;
    border-radius: 5px;
    position: relative;
    background: #343a40;
    color:white;
    margin: 0;
    padding: 10px 10px 10px 50px;
    display: block;
    width:100%;
    cursor: pointer;
}

.answers {
    border: 1px solid #343a40;
    border-radius: 3px;
    padding: 0.5% 0.5%;
    margin: 5px 0;
    background-color: whitesmoke;
    color: black;
}

.plus {
    cursor: pointer;
    color:white;
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
}


a:hover{
    color:white;
    text-decoration: none;
}