<!-- Page d'accueil -->
<br>
<br>
 <br>
<br>
<!-- Card
ACTIONS RAPIDE
-->
<div class="container container mt-4 mb-5">
    <h3 class="display-4 text-center"> Actions rapides </h3>
    <hr class="bg-dark mb-4 w-25">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="./ressources/img/contrat.jpg"  alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">Mes contrats</h4>
                    <p class="card-text">Accèdez à vos contrats</p>
                    <a href="./index.php?uc=profil&ac=show" class="btn btn-primary rounded-0 mb-2">J'y vais ! <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="./ressources/img/profil.png" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">Mon profil</h4>
                    <p class="card-text">Vous pouvez à tout moment mettre à jour vos informations personnelles dans votre espace dédié.</p>
                    <a href="./index.php?uc=profil&ac=show" class="btn btn-primary rounded-0 mb-2">J'y vais ! <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <br>
                <img class="card-img-top" src="./ressources/img/faq.jpg"  alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">F.A.Q</h4>
                    <p class="card-text">Vous êtes perdu ? Consultez notre foire à question </p>
                    <a href="./index.php?uc=help" class="btn btn-primary rounded-0 mb-2">J'y vais <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Card
 PRESENTATION PRODUIT-->
<div class="container mb-5">
    <div class="row">
        <div class="col-md-8">
            <h3 class="display-4">Notre produit</h3>
            <hr class="bg-dark w-35 ml-0">
            <p class="lead">
                Ce site a été produit dans le cadre de la formation MIAGE lors du projet commun
            </p>
            <p>
                CONTEXTE : <br>
                L’application est une application qui permet de mettre en relation les
                entreprises et les clients (Personne morale ou personne physique) afin de leur
                permettre d’échanger des documents de type contrat le plus rapidement et
                d’en garder une trace dans leur système d’informations. La valeur ajoutée sera
                de créer une application qui doit être facile pour les entreprises à intégrer dans
                leur système afin de leur faire perdre le minimum de temps dans la
                configuration de l’outil
            </p>
            <ul class="list-unstyled pl-4">
                <p><i><b>Composition de l'équipe :</b></i></p>
                <li><i class="fa fa-check"></i> GODEFERT Lucie</li>
                <li><i class="fa fa-check"></i> SIBAUD Nicolas</li>
                <li><i class="fa fa-check"></i> ROMEO Alexandre</li>
                <li><i class="fa fa-check"></i> FLEURY Romain</li>
            </ul>
            <a href="http://www.github.com/Snickeurz/projetCommunV3" class="btn btn-outline-primary rounded-0"> Code source (git)</a>
        </div>
        <div class="col-md-4 mt-5">
            <img class="card-img-top" src="./ressources/img/logo_sorbonne.png" alt="Card image cap">
        </div>
    </div>
</div>

<!-- SLIDER PARTENAIRES -->
<div class="container pb-4">
    <h3 class="display-4 text-center">Nos partenaires</h3>
    <hr class="bg-dark w-25">
    <div id="carouselLogo" class="carousel slide pt-3" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <ul class="list-inline row  mx-auto">
                    <li class="col-md-4"><img class="d-block img-fluid" src="/projetCommunV2/ressources/img/logo-bootstrap.png" alt="First slide"></li>
                    <li class="col-md-4"><img class="d-block img-fluid" src="/projetCommunV2/ressources/img/php.png" alt="Second slide"></li>
                    <li class="col-md-4"><img class="d-block img-fluid" src="/projetCommunV2/ressources/img/mysql.png" alt="Third slide"></li>
                </ul>
            </div>
            <div class="carousel-item">
                <ul class="list-inline row  mx-auto">
                    <li class="col-md-4"><img class="d-block img-fluid" src="/projetCommunV2/ressources/img/logo-bootstrap.png" alt="First slide"></li>
                    <li class="col-md-4"><img class="d-block img-fluid" src="/projetCommunV2/ressources/img/php.png" alt="Second slide"></li>
                    <li class="col-md-4"><img class="d-block img-fluid" src="/projetCommunV2/ressources/img/mysql.png" alt="Third slide"></li>
                </ul>
            </div>
            <div class="carousel-item">
                <ul class="list-inline row  mx-auto">
                    <li class="col-md-4"><img class="d-block img-fluid" src="/projetCommunV2/ressources/img/logo-bootstrap.png" alt="First slide"></li>
                    <li class="col-md-4"><img class="d-block img-fluid" src="/projetCommunV2/ressources/img/php.png" alt="Second slide"></li>
                    <li class="col-md-4"><img class="d-block img-fluid" src="/projetCommunV2/ressources/img/mysql.png" alt="Third slide"></li>
                </ul>
            </div>
        </div>
    </div>
</div>