<div class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-
             col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="fa fa-warning fa-3x social"></i>
                            </div>
                            <div class="service-content">
                                <h3>CLIENT WEB</h3>
                                <p>Pas besoin d'installation, juste une inscription suffit pour profiter pleinement de nos services</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="fa fa-edit fa-3x social"></i>
                            </div>
                            <div class="service-content">
                                <h3>GEREZ VOS CONTRAT</h3>
                                <p>Grâce à nos interfaces profil, gérer ses contrats n'a jamais été aussi simple !</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="fa fa-user fa-3x social"></i>
                            </div>
                            <div class="service-content">
                                <h3>NOTRE CLIENTELE</h3>
                                <p>Ce sont des personnes issu du monde professionnel & des personnes du quotidien. Rejoignez notre mouvement !</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="fa fa-gear fa-3x social"></i>
                            </div>
                            <div class="service-content">
                                <h3>VOS ENVIES</h3>
                                <p>Vous pouvez adapter de manière simple votre profil pour qu'il soit conforme à vos attente ! </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <img src="./ressources/img/service.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








